<h1 class="display-5 fw-bold text-body-emphasis">Welcome to CRM2i</h1>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Our CRM will allow you to highlight the relationship between your customers and their
        orders.
    </p>
    <p class="lead mb-4">
        All our teams work to deliver a high quality product in compliance with the GDPR and the ISO 14001
        and ISO 14002 security rules.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a class="nav-link"
                [routerLink]="['/add-customer']">Add Customer</a></button>
    </div>
</div>