<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Service Type</th>
            <th scope="col">TVA</th>
            <th scope="col">Customer</th>
            <th scope="col">Nb Days</th>
            <th scope="col">Total Ex Tax</th>
            <th scope="col">State</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{order.id}}</th>
            <td>{{order.service_type}}</td>
            <td>{{order.tva}}</td>
            <td>{{order.customer.id}}</td>
            <td>{{order.nb_days}}</td>
            <td>{{order.total_exclude_tax}}</td>
            <td>{{order.state}}</td>
            <td>{{order.comment}}</td>
        </tr>
    </tbody>
</table>

<br>
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">{{order.customer.company_name}}</h5>
    </div>
    <div class="card-body">
        <b>{{order.customer.first_name}} {{order.customer.last_name}}</b>
        <br><br>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Phone :</b> {{order.customer.phone_number}}</li>
                <li class="list-group-item"><b>Email :</b> {{order.customer.email}}</li>
                <li class="list-group-item"><b>Address :</b> {{order.customer.address}}</li>
                <li class="list-group-item"><b>Zip Code :</b> {{order.customer.zip_code}}</li>
                <li class="list-group-item"><b>City :</b> {{order.customer.city}}</li>
                <li class="list-group-item"><b>Country :</b> {{order.customer.country}}</li>
            </ul>
        </div>
        <br>
        <div>
            <a href="#" class="btn btn-primary me-4">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>

    </div>
    <div class="card-footer text-body-secondary">
        <b>State :</b> {{order.customer.state}}
    </div>
</div>